<!--
    Similar to r-pad version.
        https://github.com/r-pad/r-pad.github.io/blob/master/_includes/pub.html
    But I had to do put some more local html tweaks. Also explicitly put the
    venue in italics. The repos have diverged with some of the CSS stuff.
-->

<tr>
    {% if pub.img %}
        <td class='pubimg' width="250" height="100" style="text-align:center">
            <img src="{{pub.img}}" img width="250" />
        </td>
    {% endif %}
    <td>
        {% if pub.site %}
            <a href="{{pub.site}}">
                {{pub.title}}
            </a>
        {% else %}
            {{pub.title}}
        {% endif %}
        <br>
        <div class="pubauthor">
            {{pub.authors}}
        </div>
        <div id="bib{{pub.short_id}}" style="display:none">
            <div class="bibtex-container">
                <pre>{{pub.bib}}</pre>
            </div>
        </div>
        <div id="abs{{pub.short_id}}" style="display:none">
            <blockquote>
                {{pub.abs}}
            </blockquote>
        </div>
        <div class="pubjournal">
            {% if pub.award %}
                <i>{{pub.venue}} - {{pub.award}}</i>
            {% else %}
                <i>{{pub.venue}}</i>
            {% endif %}
            <br>
        </div>
        <div style="font-size:small">
            {% if pub.site != null %}
                <a href="{{pub.site}}">[Project Page]</a>
            {% endif %}
            {% if pub.bib != null %}
                <a href="javascript:copy(div{{pub.short_id}}, bib{{pub.short_id}})">[Bibtex]</a>
            {% endif %}
            {% if pub.abs != null %}
                <a href="javascript:copy(div{{pub.short_id}}, abs{{pub.short_id}})">[Abstract]</a>
            {% endif %}
            {% for link in pub.links %}
                <a href="{{link[1]}}">{{link[0]}}</a>
            {% endfor %}
        </div>
        <div id="div{{pub.short_id}}" class="pubInfo"></div>
    </td>
</tr>

<!--
    In the r-pad they have a js/main.js with this `copy` function that Qiao Gu
    added.  Not sure why the entire js folder got removed by Dean later. Let's
    just copy-and-paste it here.

    Also, the css got changed, it got changed to assets/css for some reason.

    TODO(daniel) don't forget to check:
        https://github.com/r-pad/r-pad.github.io/blob/master/css/main.css
    Because Thomas added a bunch of publication css options.
    When clicking on the publications, it can cause the entire set of
    publications to 'shift' and ideally we can avoid that.
-->
<script>
    function copy(dest, source) {
      if(dest.source == source) {
        dest.innerHTML = "";
        dest.source = null;
      } else {
        dest.innerHTML = source.innerHTML;
        dest.source = source;
      }
      dest.blur();
    }
</script>


<!--
    NOTE(daniel): this is because if I click on 'BibTeX' then I end up getting
    text that messes up the formatting. A long BibTeX would create a lot of
    horizontal text that would override the image / GIF to the left. By wrapping
    it insode this `bibtex-container` and fordcing the `max-width` we prevent
    this from happening, and the BibTeX has a horizontal scroll bar. LGTM?

    Well actually this is still not working well on a laptop with smaller width
    but we can worry about this later.
-->
<style>
    .bibtex-container {
        max-width: 820px;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>